certifi==2019.6.16
chardet==3.0.4    
colorama==0.4.1    
Django==2.2.4    
djangorestframework==3.11.2   
httpie==1.0.2    
idna==2.8      
pip==19.2.1   
Pygments==2.4.2    
pytz==2019.2   
requests==2.22.0   
setuptools==41.0.1   
sqlparse==0.3.0    
urllib3==1.25.3   
wheel==0.33.4   
